{% extends 'base.html' %}

{% block content %}
    <h1>All Images (Last Month)</h1>
    <div class="row">
        {% for image in images %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ image.title }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<h1>{{ image.title }}</h1>
<img src="{{ image.file.url }}" alt="{{ image.title }}">

{% for image in images %}
<h1>{{ image.title }}</h1>
<img src="{{ image.file.url }}" alt="{{ image.title }}">
{% endfor %}


